.lang
	position relative
	padding 0 5px
	width 54px
	&__link
		position relative
		padding-right 20px
		cursor pointer
		&::after
			content ''
			position absolute
			top 50%
			transform translateY(-50%)
			right 0
			width 10px
			height 10px
			background url('../i/arrow-down.svg') no-repeat center
	&-list
		position absolute
		top 24px
		left 0
		width 100%
		background white
		transform-origin top
		transform scaleY(0)
		transition all .4s
		z-index 2
		&.lang-list--down
			transform scaleY(1)
		&__item
			padding 4px 0 4px 6px
			transition all .4s
			&:hover
				background silver
				cursor pointer
