.video-intro
	video.video-intro__video(autoplay muted)
		source(src="assets/video/video.mp4" type="video/mp4")

	//- .thumb-wrap
	//- 	iframe(width="100%" height="auto" src="https://www.youtube.com/embed/MAadN_yCgGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
