ul.menu-categories#js-menu-categories
	li.menu-categories__item
		+icon('desk', 'menu-categories__icon')
		.menu-categories__title(data-menu-categories="#desk") Столы
	li.menu-categories__item
		+icon('room', 'menu-categories__icon')
		.menu-categories__title(data-menu-categories="#room") В помещении
	li.menu-categories__item
		+icon('chair', 'menu-categories__icon')
		.menu-categories__title(data-menu-categories="#chair") Стулья
	li.menu-categories__item
		+icon('livingsvg', 'menu-categories__icon')
		.menu-categories__title(data-menu-categories="#living") Мебелья для гостинной
	li.menu-categories__item
		+icon('reception', 'menu-categories__icon')
		.menu-categories__title(data-menu-categories="#reception") Мебель для дачи
