ul.menu-categories-subnav#desk
	li.menu-categories-subnav__item.menu-categories-subnav__item--first
		a(href="#").menu-categories-subnav__link Столы круглые
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Столы для конференций
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Столы для интерьера
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Столы для гостинной
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Столы для офисов

ul.menu-categories-subnav#room
	li.menu-categories-subnav__item.menu-categories-subnav__item--first
		a(href="#").menu-categories-subnav__link В помещении
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Пьедесталы
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Шкафы
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Ящики с замками

ul.menu-categories-subnav#chair
	li.menu-categories-subnav__item.menu-categories-subnav__item--first
		a(href="#").menu-categories-subnav__link Рабочие стулья
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Офисные стулья
	li.menu-categories-subnav__item
		a(href="#").menu-categories-subnav__link Стулья для посетителей и конференций

ul.menu-categories-subnav#living
	li.menu-categories-subnav__item.menu-categories-subnav__item--first
		a(href="#").menu-categories-subnav__link Мебель для гостинной

ul.menu-categories-subnav#reception
	li.menu-categories-subnav__item.menu-categories-subnav__item--first
		a(href="#").menu-categories-subnav__link Мебель для дачи
