.menu__wrapper
	ul.menu
		.menu__row
			.menu__col
				li.menu__item
					a.menu__link Новости
				li.menu__item
					a.menu__link Продукты
				li.menu__item
					a.menu__link Загрузки
				li.menu__item
					a.menu__link Дизайны
				li.menu__item
					a.menu__link О нас
			.menu__col
				li.menu__item
					a.menu__link Социальная ответственность
				li.menu__item
					a.menu__link Карьера
				li.menu__item
					a.menu__link Пресса
				li.menu__item
					a.menu__link Показать комнаты
				li.menu__item
					a.menu__link Контакты
				li.menu__item
					a.menu__link Проекты
