// @import "../libs/reset.scss/reset.scss"
@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'

*
	box-sizing border-box

body
	margin 0
	padding 0
	open-sans()
	font-size 18px
	color text-color
	background white

img
	max-width 100%
	height auto

a
	text-decoration none
	color inherit

.hidden
	display none

.container
	margin 0 auto
	max-width 1700px

ul
	reset-list()

@import 'blocks/header'
@import 'blocks/small-blocks/small-blocks'
@import 'blocks/video/video'
@import 'blocks/navigation/navigation'
